#banner
	.banner_content
		%h1 File Cabinet
		%p Your Life's Work.  Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_innter
		.wrapper
			.callout
				%h2 Organize
				%p Selvage godard four loko, austin organic offal 90's health goth quinoa whatever forage slow-carb shoreditch DIY. Forage 8-bit beard try-hard mlkshk bushwick. Kombucha lumbersexual blog pop-up, biodiesel vice keffiyeh mumblecore mlkshk. Schlitz hoodie hammock, 90's normcore cliche slow-carb retro jean shorts tofu chia helvetica. Vice pour-over pug YOLO, organic thundercats health goth +1 blog yr slow-carb. Disrupt polaroid forage gentrify. Chia chartreuse meditation celiac 8-bit sustainable 3 wolf moon, flexitarian PBR&B you probably haven't heard of them.
				
#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path
