#banner
	.banner_content
		%h1 File Cabinet
		%p Your Life's Work.  Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Selvage godard four loko, austin organic offal 90's health goth quinoa whatever forage slow-carb shoreditch DIY. Forage 8-bit beard try-hard mlkshk bushwick. Kombucha lumbersexual blog pop-up, biodiesel vice keffiyeh mumblecore mlkshk. 
				
#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path
